.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #e61818;
}

/* add code to alternate colors in table.. zebra stripes */
tr:nth-child(even) {
    background-color: #1f62f3;
  }

table {
  color: whitesmoke;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #0792ee;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}